*.wdb
*.wdf
CR/.*
CR/DisplayPart2/*
CR/IDE.log
CR/*.zip
CR/vivado-boards-master
ES/*
CR/CountDownTimerSoftware/.metadata/*
SD/sd_p2/*
SD/sd_p2
AA/P1*/*
AA/P2*/*
AA/P2*
AA/coursera/*
AA/Aulas/11-Object Detection(YOLO)/Lab11_Part2_YOLO/model_data/yolo.h5
CR/*
